@font-face {
  font-family: BasicRusty;
  src:url(./Newcastle-BasicRusty.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: BasicRusty, arial, sans-serif;
  font-size: 12px;
  color: #ddd;
}

body {
  height: 100vh;
  width: 100%;
  max-width: 500px;
  min-width: 230px;
  display: grid;
  grid-template-rows: 2fr 1fr 30px;
  background-color: black;
  margin: 0 auto;
}

.dashboard {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-self: center;
}

.panel {
  display: grid;
  grid-template-rows: 1fr 3fr;
}

button {
  font-family: BasicRusty, arial, sans-serif;
  border-radius: 25%;
}

button:hover {
  cursor: pointer;
}

header, .controllers, .history {
  justify-self: center;
  align-self: center;
}

h1 {
  font-size: 4rem;
  padding: 0 5px;
}

h1 span {
  display: block;
  font-size: 2rem;
  text-align: right;
  transform: rotate(-10deg);
}

aside {
  display: grid;
  justify-self: center;
  align-self: center;
  grid-template-rows: repeat(3, 1fr);
}

aside p {
  font-size: 4rem;
  text-align: center;
}

aside .controllers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 25px;
}

aside .controllers button {
  width: 10vh;
  height: 10vh;
  margin: 0 10px;
}

#start, #pause {
  background-color: #222;
  color: #ddd;
  transition: .5s;
}

#start:disabled, #pause:disabled {
  opacity: .2;
}

#start:focus, #pause:focus {
  outline-style: none;
}

#start {
  border: 3px solid #28B741;
  box-shadow: 0 0 10px #28B741;
}

#pause {
  border: 3px solid #D15E2B;
  box-shadow: 0 0 10px #D15E2B;
}

#start:hover {
  color: #28B741;
  text-shadow: 0 0 10px #28B741;
}

#pause:hover {
  color: #D15E2B;
  text-shadow: 0 0 10px #D15E2B;
}

aside .history {
  display: grid;
}

.history button {
  width: 12vh;
  height: 4vh;
  background: #000;
  text-transform: uppercase;
  border: 3px solid #999;
  box-shadow: 3px 3px 1px #777;
  transition: .5s;
  color: #28B741;
  border-radius: 5%;
}

#reset_button {
  background-color: #D15E2B;;
  color: #222;
}

#history_button {
  background-color: #28B741;
  color: #222;
}

.history button:hover{
  box-shadow: none;
  cursor: pointer;
}

.history button:nth-child(2) {
  margin-top: 25px;
}

main {
  background-image: url(../img/small.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.buttons {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid: 1fr 1fr/ repeat(3, 1fr);
  justify-self: center;
  align-self: center;
}

.buttons button {
  position: relative;
  width: 10vh;
  height: 10vh;
  margin: 10px 15px;
  font-size: 1.5rem;
  /* box-shadow: 0 0 6px white; */
  background-image: radial-gradient(#000, #111);
  color: white;
}

.buttons button:focus {
  outline-style: none;
  border-style: inset;
}

.buttons button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  transform: translate(-50%, -50%);
  background-image: radial-gradient(#222, #000);
  border-radius: 50%;
}

.buttons button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  transform: translate(-50%, -50%);
  background-image: radial-gradient(#28B741, #000);
  border-radius: 50%;
  z-index: 1;
  transition: .3s;
}

.buttons button.score::before {
  width: 7vh;
  height: 7vh;
}

.buttons button:nth-child(4)::before {
  background-image: radial-gradient(#D15E2B, #000);
}

.buttons button:nth-child(5)::before {
  background-image: radial-gradient(#D15E2B, #000);
}

.buttons button:nth-child(6)::before {
  background-image: radial-gradient(#D15E2B, #000);
}

footer {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

footer a {
  color: #666;
  text-transform: uppercase;
  text-decoration: none;
}